.banner {
    position: relative;
    object-fit: contain;
    color: #ffffff;
    height: fit-content;
    background-color: black;
}
.banner__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    margin-left: 4rem;
}
.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: .3rem;
}
.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .8rem;
    max-width: 360px;
    height: 80px;
    color: white;
    text-align: start;
    margin-left: 4rem;
}
.banner--fadeButton {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.63), #111);
}
.banner__btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 4rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.banner__btn:hover {
    color: #111;
    background-color: #fff;
    transition: all .5s;
}
.banner__btns {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 80rem) {
    .banner__title {
        text-align: center;
    }

    .banner__content {
        padding-top: 140px;
        height: 190px;
        margin: auto;
    }
    .banner__description {
        text-align: center;
        margin: auto;
        font-size: 10px;
        width: 70vw;
    }
    .banner__btn {
        margin: 0 1rem;
    }
}